@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<CRUDASP.Models.Empleado>;
<div class="row">

    <div class="col-sm-8 offset-sm-2">
        <h2>Lista de empleados</h2>
        <a asp-controller="Empleado" asp-action="Nuevo" class="btn btn-success mb-3">Agregar empleado</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombre Completo</th>
                    <th>Correo</th>
                    <th>Contraseña</th>
                    <th>Fecha de ingreso</th>
                    <th>Activo</th>
                    <th>Administrador</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Cedula</td>
                        <td>@item.NombreCompleto</td>
                        <td>@item.correo</td>
                        <td>@item.password</td>
                        <td>@item.FechaContrato.ToString("dd/MM/yyyy")</td>
                        <td>@(item.activo ? "Si": "No")</td>
                        <td>@(item.administrador ? "Si": "No")</td>
                        <td>
                            <a asp-controller="Empleado" asp-action="Editar" asp-route-id="@item.Cedula" class="btn btn-primary">Editar</a>
                            <a asp-controller="Empleado" asp-action="Eliminar" asp-route-id="@item.Cedula" class="btn btn-danger" onclick="return confirmar()">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

</div>

@section Scripts{
    <script>
        function confirmar(){
            return confirm("Estas seguro de eliminar el empleado?")
        }
    </script>
}